<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Design 4 Tomorrow Applicant
    </p>
		<p>
			  Name: <%= @join['name'] %>
		</p>
		
		<p>
			  Email: <%= @join['email'] %>
		</p>
		
		<p>
			  Phone: <%= @join['phone'] %>
		</p>
		
		<p>
			  Website: <%= @join['site'] %>
		</p>
		
		<p>
			  Work: <%= @join['sites'] %>
		</p>
		
		<p>
			  Bio: <%= @join['bio'] %>
		</p>
	</body>
</html>