<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header>
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>
				<div class="sidebar">
					<h2 class="noMargin">Are you a designer?</h2>
					<p>Here at Design 4 Tomorrow we are always looking for talented web designers to join our team.</p>
					<a href="#" class="button">I'm a web designer</a>
					
					<h2>Need More Details?</h2>
					<p>More information about what technologies we use and what you can expect can be found here.</p>
					<a href="#" class="button">More Details</a>
					
					<h2>Keep in Touch</h2>
					<a href="#"><img class="social" src="/images/twitter.png" /></a>
					<a href="#"><img class="social" src="/images/facebook.png" /></a>
				</div>
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
